* {
  all: unset
}

//$bg: #1d2021;
$bg: #1a1a1a;
$bg0: #282828;
$bg1: #3c3836;
$bg2: #504945;
$bg3: #665c54;
$bg4: #7c6f64;

$fg: #ebdbb2;
$fg0: #fbf1c7;
$fg1: #ebdbb2;
$fg2: #d5c4a1;
$fg3: #bdae93;
$fg4: #a89984;

$bg_dark: #1a1a1a;

$red: #cc241d;
$red-alt: #fb4934;
$green: #98971a;
$green-alt: #b8bb26;
$yellow: #d79921;
$yellow-alt: #fabd2f;
$blue: #458588;
$blue-alt: #83a598;
$purple: #b16286;
$purple-alt: #d3869b;
$aqua: #689d6a;
$aqua-alt: #8ec07c;
$orange: #d65d0e;
$orange-alt: #fe8019;
$gray: #928374;
$gray-alt: #a89984;

.statusbar {
  font-family: Atkinson Sans; 
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.statusbar-module {
  background-color: $bg;
  color: $fg;
  padding: 0.5rem 0.8rem;
  border-radius: 1rem; 
  $submodule-margin: 0.5rem;
  &.left{
    margin-right: $submodule-margin;
  }
  &.center{
    margin-left: $submodule-margin/2;
    margin-right: $submodule-margin/2;
  }
  &.right{
    margin-left: $submodule-margin;
  }
}

.statusbar-workspace {
  padding: 0 0.3rem;
  margin: 0 0.2rem;
  border-radius: 0.5rem;
  background-color: $bg;
  &.active {
    background-color: $orange;
    color: $bg;
  }
  &.occupied {
    background-color: $yellow;
    color: $bg;
  }
}

.statusbar-clock {
  background-color: $bg;
  color: $fg;
  padding: 0.5rem 1rem;
  border-radius: 0 0 1rem 1rem;
}

.statusbar-status-icon {
  padding: 0 0.3rem;
  &.button {
    border-radius: 0.5rem;
    &:hover {
      background-color: $bg1;
    }
  }
}

.notification-popup-list {
  margin: 10px;
}

.notification-popup {
  border-radius: 1rem;
  background-color: $bg-dark;
  color: $fg;
  margin: 40px 0 10rem 0;
  padding: 0.5rem;
}

.notification-popup-content {
  font-family: Atkinson Sans;
  &.summary {
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  &.body {
    font-size: 1.1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.control-center {
  font-family: Atkinson Sans;
  font-size: 1.1rem;
  background-color: $bg;
  color: $fg;
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 2rem;
}

.control-center-statusline {
  font-size: 1.1rem;
  font-weight: bold;
}

.control-center-module {
  margin: 0.5rem;
  min-width: 41rem;
}

.control-center-audio-module {
  min-width: 20em;
}

.control-center-qs-button {
  padding: 0.5rem;
  margin: 0.3rem;
  font-size: 1.2rem;
  background-color: $bg0;
  border-radius: 2rem;
  min-width: 15rem;
  &:hover {
    background-color: $bg1;
  }
  &.active {
    background-color: $yellow;
    color: $bg;
    &:hover {
      background-color: $orange;
    }
  }
}

.control-center-menu {
  min-width: 20em;
  padding: 0.3rem;
}

.control-center-menu-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.control-center-menu-item {
  background-color: $bg0;
  margin: 0.2rem;
  padding: 0.2rem;
  border-radius: 1rem;
  &:hover {
    background-color: $bg1;
  }
  &.connected {
    background-color: $yellow;
    color: $bg;
    &:hover {
      background-color: $orange;
    }
  }
}

.control-center-notification {
  background-color: $bg0;
  margin: 0.2rem;
  padding: 1rem 2rem 1rem 1rem;
  border-radius: 1rem;
  &:hover {
    background-color: $red;
    color: $bg0;
  }
}

.control-center-notification-close {
  background-color: $red;
  color: $bg0;
  margin: 1rem 0.5rem;
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  &:hover {
    background-color: $orange;
  }
}

.control-center-profile-picture {
  margin: 1rem;
  border-radius: 1rem;
}

.control-center-welcome-user {
  font-weight: bold;
  font-size: 1.5rem;
}

