* {
  all: unset;
  font-family: JetBrainsMonoNL NFM;
}

.statusbar {
  background-color: #10101033;
  color: #f8f8b7;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0.3rem 1rem;
}

.workspaces {
  padding: 0.2rem 0;
}

.workspace {
  min-width: 0.1rem;
  min-height: 0.1rem;
  margin: 0 0.2rem;
  border-radius: 0.5rem;
  &.occupied {
    background-color: #fabe2f;
    color: #0a1419;
  }
  &.active {
    background-color: #fe8019;
    color: #0a1419;
  }
  &.empty {
    background-color: #0a141900;
    color: #f8f8b7;
  }
}

.workspace-label {
  padding: 0 0.4rem;
}

.audio {
  margin: 0 0.3rem;
}

.audio-icon {
  margin: 0 0.3rem;
}

.network-icon {
  margin: 0 0.3rem;
}

.battery {
  margin: 0 0.3rem;
}
